<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/Login.css">
    <title>Login</title>
   

</head>
<body>
<form method="post">
    <h3>Entrar em contato</h3>
    Id <input type="text" name="txtId" readonly value="<%=Usuario.id%>"/>
    Nome <input type="text" name="txtNome" value="<%=Usuario.name%>"/>
    Sobrenome <input type="text" name="txtSobrenome" value="<%=Usuario.Sobrenome%>"/>
    Telefone <input type="number" name="txtTelefone" value="<%=Usuario.Telefone%>"/>
    Foto <input type="file" name="txtFoto" value=""/>

    <input type="submit" name="acao" value="enviar"/> 
    <a href="/perfil">Cancelar</a>
</form>
   
</body>
</html>