<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LivroLivre</title>
</head>
<body>

    <header> 
        

    </header>
    
    <main class="main">
<!-- Formulario de postagem (postar livro)-->
        <div class="newPost">
            <div class="infoUser">
                <div class="imgUser">

                </div>
                <strong>Nome Usuario</strong>
            </div>
                <form action="" class="formPost" id="formpost" method="post">
                    <textarea name="textarea" placeholder="Publicar um livro" id="textarea"></textarea>
                    <div class="iconsAndButtons">   
                        <div class="icons">
                            <button class="btnFileForm">Foto</button>
                            <button class="btnFileForm">Gif</button>
                            <button class="btnFileForm">Video</button>
                        </div>
                        <button type="submit" id="botao" class="btnSubmitForm">Publicar</button>
                    </div>
                </form>
        </div>
<!-- Posts enviados-->
        <ul class="posts" id="posts">
            
        </ul>
    </main>

</body>
</html>