<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/Login.css">
    <title>Login</title>
   

</head>
<body>
<form method="post">
    <h3>Entrar em contato</h3>
    <input type="text" name="username" placeholder="Informe seu email"/>
    <input type="password" name="password" placeholder="Informe sua senha"/>
    <input type="submit" name="acao" value="enviar"/> 
    <a href="/cadastro">Cadastre-se</a>
</form>
   
</body>
</html>