<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Publicacaousuario.css">
    <title>LivroLivre</title>

</head>

<body>

    <header>
        <nav>
            <div class="logo"><img src="" alt="imglogo" class="img-logolivrolivre"></div>
            <a href="/perfil">Perfil</a>
            <a href="/resenha">Resenhas</a>
            <a href="/principal">Inicio</a>

        </nav>
    </header>



    <main class="main">
        <!-- Formulario de postagem (postar livro)-->
        <div class="newPost">
            <div class="infoUser">
                <div class="imgUser">
                

            </form>
        </div>

        <div>
        <!-- Posts enviados-->
        <ul class="posts" id="posts">
            <%Postagens.forEach(function(post){%>
            <li class="post">
                <div class="infoUserPost">
                    <div class="imgUserPost"></div>
                    <div class="nameAndHour">
                        <strong><%=Usuario.nome%> <%=Usuario.sobrenome%></strong>
                        <p>hora</p>
                    </div>
                </div>

                <p>
                    <%=post.texto%>
                </p>
                <img src="/fotos/<%=post.imglivro%>" style="max-width:70%; max-height:70%;">

                <div class="actionBtnPost">
                    <button type="button" class="filesPost chamarchat">Excluir Publicação</button>
                </div>
            </li>
            <%})%>
        </ul>
    </div>
    </main>

</body>

</html>