<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Registro.css">
    <title>Cadastro</title>

</head>
<body>

    <div class="sidenav">
        <div class="login-main-text">
           <h1>LivroLivre</h1><br>  
            <h2>Login Page</h2>
           <p>Bem vindo! Aqui você pode trocar o seu livro.</p>
        </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12">
           <div class="login-form">
              <form method="post">
                 <div class="form-group">
                    <label>Primeiro nome</label>
                    <input type="text" class="form-control" name="txtNome" id="name" placeholder="Digite seu primeiro nome">
                 </div>
                 <div class="form-group">
                    <label>Sobrenome</label>
                    <input type="text" class="form-control" name="txtSobrenome" id="sobrenome" placeholder="Digite seu sobrenome">
                 </div>
                 <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control" name="txtEmail" id="email" placeholder="Digite seu E-mail">
                 </div>
                 <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" name="txtSenha" id="password" placeholder="Crie uma senha">
                 </div>
                 <button type="submit" class="btn btn-black" value="Registrar">cadastre-se</button>
                 
              </form>
              <button type="submit" class="btn btn-secondary">Já tem uma conta?</button>
           </div>
        </div>
     </div>

</body>
</html>