
    
body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    background-color:#fff7eb;
}

nav {
    background-color: #c8a09a;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

nav .logo {
    color: #fff;
    float: left;
    display: block;
    padding: 14px 16px;
    background-color: #c8a09a;
}

nav a {
    color: black;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    background-color: #c8a09a;
}

nav a:hover {
    transition: 0.5s;
    background-color: #c78379;
    color: white;

}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    width: 540px;
    background-color:rgba(201, 135, 124, 0.5);
    height: 500px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.profile-img{
    width: 120px;
    border-radius: 50%;
    border:#c78379 5px solid;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-65px);
}
.container-text{
    margin-top:50px;

}
.name{
    margin:0;
    font-size: 30px;

}

.address-icon{
    width:30px;
    
}

.img-logolivrolivre{
    width:100px;

}

.desc {
    background:none
}
.edit{
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: #c8a09a;
    color: white;
    border: 0;
    border-radius: 20px;
    transition: 1s;
}



ul.posts li.post {
    margin-bottom: 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);

}

ul.posts li.post div.infoUserPost {
    display: flex;
    align-items: center;

}

ul.posts li.post div.infoUserPost div.nameAndHour {
    margin-left: 10px;

}

ul.posts li.post div.infoUserPost div.imgUserPost {
    width: 30px;
    height: 30px;
    border-radius: 500%;
    background: #c8a09a;

}

ul.posts li.post div.infoUserPost div.nameAndHour>strong {
    color: #c8a09a;

}

ul.posts li.post div.infoUserPost div.nameAndHour>p {
    color: #d1d1d1;
    ;
    font-size: 12px;

}

ul.posts li.post>p {
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    color: #727272;

}

ul.posts li.post div.actionBtnPost {
    display: flex;
    align-items: center;
}

ul.posts li.post div.actionBtnPost button.filesPost {
    padding: 5px 20px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: #fff;
    font-size: 16px;

    font-weight: bold;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;

    transition: background 0.2s;

}

ul.posts li.post div.actionBtnPost button.filesPost img {
    margin-right: 5px;

}