@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


body {
    background-color: #fff7eb;
    font-family: 'roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    height: 100%;

    -webkit-font-smoothing: antialiased !important;
}
.cabecalho{
    position: inherit;
}
nav{
    background-color: #c8a09a;
    overflow: hidden;
    
    width: 100%;
}
nav .logo{
    color: #fff;
    float: left;
    display: block;
    padding: 14px 16px;
    font-family: 'Merienda', cursive;
}
nav a{
    color: black;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
}
nav a:hover{
    transition: 0.5s;
    background-color:#c78379;
    color: white;

}

li {
    list-style: none;

}



.main {
    max-width: 900px;
    margin: 0 auto;
}

div.newPost {
    width: 100%;
    height: 240%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    padding: 25px;


    background: #fcfaf7;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
}

div.newPost div.infoUser {
    display: flex;
    align-items: center;
    justify-content: center;
}


div.newPost div.infoUser strong {
    font-size: 16px;
    margin-left: 10px;
    color: #c8a09a;

}

div.newPost form.formPost {
    display: flex;
    flex-direction: column;
    width: 100%;

}

div.newPost form.formPost textarea {
    height: 90px;
    background: #fcfaf7;
    margin: 15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;

    font-weight: bold;
    font-family: 'roboto', sans-serif;
    color: rgb(0, 0, 0);


}

div.newPost form.formPost div.iconsAndButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButtons div.icons {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButtons div.icons button {
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border: 0;
    cursor: pointer;
    background: none;

}

div.newPost form.formPost div.iconsAndButtons button.btnSubmitForm {
    background: #c8a09a;
    padding: 10px 50px;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    transition: background 0.2s;

}

div.newPost form.formPost div.iconsAndButtons button.btnSubmitForm:houver {
    background: #c78379
}

ul.posts li.post {
    margin-bottom: 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);

}

ul.posts li.post div.infoUserPost {
    display: flex;
    align-items: center;

}

ul.posts li.post div.infoUserPost div.nameAndHour {
    margin-left: 10px;

}

ul.posts li.post div.infoUserPost div.imgUserPost {
    width: 30px;
    height: 30px;
    border-radius: 500%;
    background: #c8a09a;

}

ul.posts li.post div.infoUserPost div.nameAndHour>strong {
    color: #c8a09a;

}

ul.posts li.post div.infoUserPost div.nameAndHour>p {
    color: #d1d1d1;
    ;
    font-size: 12px;

}

ul.posts li.post>p {
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    color: #727272;

}

ul.posts li.post div.actionBtnPost {
    display: flex;
    align-items: center;
}

ul.posts li.post div.actionBtnPost button.filesPost {
    padding: 5px 20px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: #fff;
    font-size: 16px;

    font-weight: bold;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;

    transition: background 0.2s;

}

ul.posts li.post div.actionBtnPost button.filesPost img {
    margin-right: 5px;

}

.like {
    background: #c78379;
}

.like:houver {
    background: #c27063;
}

.chamarchat {
        display: inline-block;
        padding: 10px 20px;
        background-color: #c78379;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        margin-right: 10px; /* para separar os botões */
}

.chamarchat:houver {
    background: #c27063;
}